/* styling for the h2 tag */
.about-main h2 {
    font-family: 'Syne', sans-serif;
    color: var(--bs-primary);
    font-weight: 800;
    font-size: 3.2rem;
}

/* styling for the paragraph */
.about-main p {
    color: var(--bs-primary);
    font-size: 1.5rem;
}

/* using background-image property for the vision section as per the hi fidelity design */
#vision {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../images/vision-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    padding: 3rem 0;
    margin: 0 0 3rem 0;
}

#vision h2 {
    font-family: 'Orbitron', sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px var(--bs-primary);
    font-size: 4rem;
    font-weight: bolder;
    text-transform: uppercase;
}

#vision p {
    color: var(--bs-primary);
    font-size: 1.3rem;
}

.aashif {
    width: 100%;
}

.about-container {
    padding-bottom: 2rem;
}

/* media query for font-size at tablet width of 1024px */
@media only screen and (max-width: 1024px) {
    .about-main p {
        font-size: 1.5rem;
    }
}

/* media query for font-size at mobile width of 768px */
@media only screen and (max-width: 768px) {
    .about-main p {
        font-size: 1.2rem;
        text-align: center;
    }

    .about-main h2 {
        text-align: center;
        padding-top: 1rem;
        font-size: 2.8rem;
    }
}