/* h2 styling for contact */
.row h2 {
    font-family: 'VT323', monospace;
    font-size: 4rem;
    color: var(--bs-body-bg);
}

/* paragraph styling for the form */
.row p {
    font-family: 'VT323', monospace;
    font-size: 2rem;
    color: var(--bs-body-bg);
}

/* basic form colors using bootstrap colors as set in root */
.contact-main .form {
    background-color: var(--bs-tertiary-bg);
    padding: 2rem;
}

.form input {
    background-color: var(--bs-btn-primary);
    border-radius: 0;
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
}

.form label {
    font-family: 'VT323', monospace;
    font-size: 2rem;
    color: var(--bs-body-bg);
}

input[type=text]:focus {
    background-color: var(--bs-btn-primary);
}

/* use of multiple !important tags to overwrite default bootstrap styling */
textarea {
    background-color: var(--bs-btn-primary) !important;
    border-radius: 0 !important;
    resize: none;
    font-family: 'VT323', monospace;
    font-size: 1.5rem !important;
}

.btn {
    background-color: var(--bs-btn-primary);
    border-radius: unset;
    margin-right: 0 !important;
    color: var(--bs-body-bg);
    font-family: 'VT323', monospace;
    font-size: 2rem;
    padding: 0 2rem;
}

.btn:hover {
    background-color: var(--bs-body-bg);
    color: var(--bs-btn-primary);
}

/* contact svg with negative margin to create subtle overlay as per the hi fidelity design */
.contact-container .svg-contact {
    width: 100%;
    margin-top: -70px;
}

/* media query for mobile basic font sizes and reduced padding for smaller sized devices */
@media only screen and (max-width: 768px) {
    .row h2 {
        font-size: 2rem;

    }

    .row p {
        font-size: 1.5rem;
    }

    .contact-main .form {
        padding: 1rem;
    }


}