/* font-family: 'Orbitron', sans-serif;
font-family: 'VT323', monospace; */
/* font-family: 'Syne', sans-serif; */


@import 'contact.css';
@import 'about.css';

*:focus {
    box-shadow: none !important;
    border: none;
}

.noise::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: .05;
    z-index: 1000;
    pointer-events: none;
    background: url(../images/noise.gif);
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 2rem;
    border: 2px solid var(--block-color-light);
    outline: none;
    background-color: transparent;
    color: var(--block-color-light);
    cursor: pointer;
    padding: 0 1rem;
    font-family: 'VT323', monospace;
}

#myBtn:hover {
    background-color: #555;
}

:root {
    --color-main-black: #242422;
    --color-text: #CDC7C2;
    --block-color: #948477;
    --block-color-light: #E1D6C4;

    --bs-body-bg: #242422;
    --bs-primary: #CDC7C2;
    --bs-secondary: #242422;
    --bs-tertiary-bg: #948477;
    --bs-btn-primary: #E1D6C4;
}


.logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem;
}

.logo:nth-child(2) {
    font-family: 'Orbitron', sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px var(--color-text);
}

.intro {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-main-black);
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
}

.logo {
    position: relative;
    display: inline;
    bottom: -20px;
    opacity: 0;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.marquee__content li {
    list-style: none;
    font-size: 5rem;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    color: transparent;
    margin-top: -30px;
    text-transform: uppercase;
    padding: 0 0.5rem;
    -webkit-text-stroke: 2px var(--color-text);
}


.marquee {
    --gap: 1rem;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    padding-top: 1rem;
    height: 50%;
}

.marquee__content {
    flex-shrink: 0;
    min-width: 100%;
    gap: var(--gap);
    margin: 0;
    animation: scroll 18s linear infinite;
}



.marquee2 {
    --gap: 1rem;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    height: 50%;
    border-top: 1px solid var(--color-text);
    border-bottom: 1px solid var(--color-text);
}



.marquee__content2 {
    flex-shrink: 0;
    gap: var(--gap);
    margin: 0;
    animation: scroll 18s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.navbar {
    background-color: var(--color-main-black);
    border: 2px solid var(--color-text);
}

.navbar-toggler {
    border: none;
}

.nav-item a {
    color: var(--color-text);
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
    text-align: center;
}

.nav-item a:hover {
    color: var(--block-color);
    transition: ease-in-out 0.3s;
}

.navbar-toggler[aria-expanded=false] span::after {
    content: "menu";
    font-family: "Material Icons";
    color: var(--color-text);
    border: none;
}

button span::after {
    content: "close";
    font-family: "Material Icons";
    color: var(--color-text);
    border: none;
}

.menu-logo {
    max-width: 40%;
}

.menu-logo:hover {
    filter: brightness(80%);
    transition: ease-in-out 0.3s;
}

.carousel {
    max-width: 100%;
    padding: 1rem 0;
}


.line {
    border-bottom: 2px solid var(--color-text);
}

.home-main .container-fluid {
    background-color: var(--block-color);
    margin-top: 0 !important;
}

.home-main .container-fluid img {
    padding: 1.5rem;
}

.home-main .container-fluid p {
    font-family: 'VT323', monospace;
    font-size: 1.4rem;
    padding: 0rem 1rem 0rem 1rem;
}

.home-main .container-fluid h2 {
    padding: 1rem 1rem 0 1rem;
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    color: var(--color-main-black);
    text-transform: uppercase;
}

.project-container {
    padding: 1rem;
}

.col-md-6 {
    padding: 0;
}

.project-container h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
    font-size: 5rem;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--color-text);
}

.rectangle {
    background-color: var(--block-color-light);
    width: 100%;
    height: 20px;
    margin-top: 1rem;
    padding-bottom: 1.5rem;

}

.rectangle img {
    margin-bottom: 1rem;
    background-color: #7c7875;
}


.footermenu {
    color: #fff;
    padding: 15px;
}

.column-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.column-menu li {
    margin-bottom: 10px;
}

.column-menu a {
    text-decoration: none;
    color: var(--color-text);
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
}

i {
    font-size: 1.3rem;
    padding-right: 1rem;
    color: var(--color-text);
}

.column-menu a:hover {
    color: var(--block-color);
    transition: ease-in-out 0.5s;

}

.project:hover {
    filter: drop-shadow(0 0 0.75rem var(--color-main-black));
    transition: all 0.5s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .marquee__content {
        animation-play-state: paused !important;

    }

    .marquee__content2 {
        animation-play-state: paused !important;

    }
}

@media only screen and (max-width: 768px) {

    .marquee__content li {
        list-style: none;
        font-size: 3rem;
        font-family: 'Orbitron', sans-serif;
        font-weight: bold;
        color: transparent;
        margin-top: -30px;
        text-transform: uppercase;
        padding: 0 0.5rem;
        -webkit-text-stroke: 2px var(--color-text);
    }

    .home-main .container-fluid img {
        padding: 1rem 0 0 0;
    }

    .home-main .container-fluid h2 {
        font-size: 1.5rem;
    }

    .home-main .container-fluid {
        text-align: center;
    }

    .menu-logo {
        max-width: 30%;
        margin-left: 0.5rem;
    }

    .home-main .container-fluid img {
        padding: 0.5rem;
    }

    .logo {
        font-family: 'Orbitron', sans-serif;
        font-size: 1.5rem;
    }

    .logo-header {

        top: 40%;

    }

    .marquee2 img {
        width: 20%;
    }

    .project-container h1 {
        text-align: center;
        font-size: 2.5rem;
    }

    .column-menu a {
        font-size: 1rem;
    }

    i {
        font-size: 1rem;
        padding-right: 0.5rem;
        color: var(--color-text);
    }
}